{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gunpla Station</title>
    <link rel="stylesheet" href="{% static 'css/foundation.css' %}" />
    <link rel="stylesheet" href="{% static 'css/topbar.css' %}" />
    {% block css %}{% endblock %}
</head>

<body>
    <!-- Top nav bar -->
    <div class="top-bar topbar-responsive">
        <div class="top-bar-title">
            <a class="topbar-responsive-logo" href="">
                <strong>Gunpla Station</strong>
                <img src="{% static 'images/logo.png' %}" width=100>
            </a>
        </div>
        {% block navmenu %}{% endblock %}

        <div class="top-bar-right">
            <ul class="menu user-card">
                {% if user.is_authenticated %}
                <li><a>Logged in as: {{ user.username }}</a></li>
                {% endif %}
            </ul>
        </div>
        <ul class="menu logout-button">
            {% if user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <!----->
    {% block content %}{% endblock %}
    <script src="{% static 'js/vendor.js' %}"></script>
    <script src="{% static 'js/foundation.js' %}"></script>
    <script src="https://unpkg.com/vue@next"></script>
    {% block scripts %}{% endblock %}
</body>

</html>