{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
{% endblock %}

{% block navmenu %}
<div style="margin:0 auto;">
    <ul class="menu simple vertical medium-horizontal">
        <li class="is-active"><a href="/projects">Projects</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div style="text-align:center;">
    <h1> Create New Step </h1>
</div>

<!-- Add Step form -->
<form action="/projects/{{ project_name }}/new_step" method="post">
    {% csrf_token %}

    {{ form }}
    <input type="submit" class="button large" value="Add Step" />
</form>
<!--  -->


{% endblock %}