{% extends "base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/projects.css' %}" />
{% endblock %}

{% block navmenu %}
<div style="margin:0 auto;"> 
    <ul class="menu simple vertical medium-horizontal">
        <li class="is-active"><a href="/projects">Projects</a></li>
        <li><a href="/chat">Chat</a></li>
        <li><a href="/resources">Resources</a></li>
    </ul>
</div>
{% endblock %}

{% block content %}
{% for project in project_object %}
<div style="text-align:center;"><h1> {{ project.project_title }} </h1></div>
<div style="text-align:center;"><p> {{ project.project_description }} </p></div>
{% endfor %}

<a href="projects/new_step" class="button large">Add New Step</a>



{% endblock %}